table,
th,
td {
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  height: 100px;
  font-weight: 700;
  font-size: larger;
  text-align: center;
}

th,
td {
  border-style: dotted;
}
